---
// Component imports
import { Layout } from "@globals"
---

<Layout title="EncoreDecks Import Converter">
	<section class="p-6 flex-1 flex flex-col justify-between items-center">
		<div class="space-y-2 text-center">
			<h1 class="text-2xl font-semibold">EncoreDecks Import Converter</h1>
			<p>
				Converts the exported text file from EncoreDecks to a format that can be
				used when importing into the <a
					target="_blank"
					href="https://blakethoennes.itch.io/weiss-schwarz"
					class="text-blue-600 hover:text-blue-400 hover:underline visited:text-purple-600"
					>Weiss Schwarz Simulator by Blake Thoennes</a
				>.
			</p>
		</div>

		<div
			class="flex flex-1 md:justify-around gap-10 flex-col md:flex-row w-full"
		>
			<div class="flex flex-col space-y-2 w-full">
				<div>Select the import text file or paste the file contents:</div>

				<input type="file" id="file-input" accept=".txt" class="w-min" />

				<textarea
					name="text"
					id="input-area"
					rows="3"
					class="resize-none border-2 h-full dark:bg-black dark:text-white"
				></textarea>

				<button id="convert-button">Convert</button>
			</div>

			<div class="flex flex-col w-full gap-4">
				<div>Sets:</div>

				<div id="checkboxContainer" class=""></div>

				<div>Output:</div>

				<textarea disabled id="output-area" class="resize-none border-2 h-full"
				></textarea>
			</div>
		</div>
	</section>

	<script src="../scripts/index.ts"></script>
</Layout>
