---
// Component imports
import { Layout } from "@globals"
---

<Layout title="EncoreDecks Import Converter">
	<section class="p-6 flex-1 flex flex-col justify-between items-center">
		<div class="max-w-2xl flex flex-col flex-1 space-y-2">
			<div class="space-y-2 text-center">
				<h1 class="text-2xl font-semibold">EncoreDecks Import Converter</h1>
				<p>
					Converts the exported text file from EncoreDecks to a format that can
					be used when importing into the <a
						target="_blank"
						href="https://blakethoennes.itch.io/weiss-schwarz"
						class="text-blue-600 hover:text-blue-400 hover:underline visited:text-purple-600"
						>Weiss Schwarz Simulator by Blake Thoennes</a
					>.
				</p>
			</div>

			<div>Enter import file contents here:</div>

			<textarea
				name="text"
				id="input-area"
				cols="100"
				rows="3"
				class="resize-none border-2 dark:bg-black dark:text-white"></textarea>

			<button id="convert-button">Convert</button>

			<div>Output:</div>

			<textarea id="output-area" class="resize-none border-2" disabled
			></textarea>
		</div>
	</section>

	<script src="../scripts/index.ts"></script>
</Layout>
